* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
    height: 100vh;
    width: 100vw;
}

.container {
    width: 420px;
    max-width: 800px;
    background-color: #000;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
}

.name-city {
    background-color: #7c7c7c2b;
    border-radius: 25px;
    font-size: 20px;
    padding: 10px;
    width: calc(95% - 100px);
    border: none;
    outline: none;
    margin-bottom: 30px;
}

button {
    background-color: #7c7c7c2b;
    border: none;
    float: right;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: 0.3s;
}

button:hover {
    background-color: #7c7c7c6b;
    opacity: 0.8;
}

h2 {
    font-size: 28px;
    font-weight: 400;
}

.temperature {
    margin-top: 30px;
}

.state {
    display: flex;
    align-items: center;
    margin-top: 30px;
    font-size: 20px;
    text-transform: capitalize;
}

.img-forecast {
    width: 50px;
}

.moisture {
    margin-top: 30px;
    font-weight: 300px;
    font-size: 18px;
}

img {
    width: 20px;
}